*{
    box-sizing: border-box ;
}
header {
height: 50px;
background-color: blue;
text-align: center;
}
main>img{
  width: 100px; ; 
}
.box {
width: 377px;
height: 305px;
border: 4px solid rgb(7, 29, 60);
}
.profile-card {
    padding: 20px 30px;
}